.buttonHolder {
    text-align: center;
}
.welcome {
    color: blue;
    text-align: center;
}
.desc {
    color: black;
    text-align: center;
}
.signupButton{
    text-align: center;
}
.whyUs{
    background-color: black;
    color: aliceblue;
}
.ProblemPage {
    color: rgba(128, 0, 128, 0.993);
    text-align: center;
}